:root {
    --color-logo:#FFFFFF;
    --color-headlist:#FFFFFF8C;
    --color-bg:#1E252B;
    --color-hoverbtn:#FF6E30;
    --color-btntext:#FFFFFFC7;
    --color-btnsine:#FDF5FF;
    --color-toolstitlr:#FFFFFFE5;
    --color-toolsinput:#C4C4C4;
    --color-tinputbacktext:#FFFFFF61;
    --color-tinputback:#283036;
    --color-popular:#FFA5378C; 
    --brand-title:#FFFFFFCC;
}

ul{
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: Poppins;
    background-color:var(--color-bg);
}

.container {
    width: 1225px;
    margin: 0 auto;
}

header {
    padding-top: 34px;
    height: 48px;
}

.header_logo {
    color:var(--color-logo);
    font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
position: relative;
display: flex;
align-items:center;
gap: 21px;
}



.header_item:nth-child(2)::after {
    content: '';
    background-image: url('../src/icons/chevrondown.svg');
    position: absolute;
    right: -23px;
    top: 4px;
    display: block;
    width: 18px;
    height: 18px;
}

.header_item:nth-child(2) {
    margin-right: 19px;
    position: relative;
}

.header_item {
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: var(--color-headlist);
}


.header_btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    color: var(--color-btntext);
    background-color: rgba(0, 0, 0, 0);
}

.header_btn {
    border-radius: 8px;
    background-color: var(--color-hoverbtn);
    width: 118px;
    height: 48px;
    border: 0;
    color: var(--color-btnsine);
}

.header_list {
    display: flex;
    justify-content: center;
    gap: 42px;
    margin: 0;
} 


.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_list-btn {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header_wrapper {
    display: flex;
    align-items: center;
    gap: 257px;
    margin: 0;
}

.header_link {
    font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: var(--color-btntext);
}


.tools_title {
    font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 140%;
width: 600px;
color:var(--color-toolstitlr);
}

.tools_title>span {
color: var(--color-hoverbtn);
}

.tools {
    padding: 111px 0 11px 0;
    background: url(../src/img/Illustration.png) right bottom no-repeat;}

.tools_descr {
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 487px;
color: var(--color-headlist);
margin-bottom: 60px;
}

.tools_form {
    width: 497.659px;
height: 64px;
border-radius: 15px;
padding: 8px 11px 8px 18px;
margin-bottom: 121px;
border: 1.5px solid rgba(255, 255, 255, 0.10);
background-color: var(--color-tinputback);
}
.tools_wrapper {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.tools_btn {
    border-radius: 8px;
    width: 130.435px;
height: 48px;
background-color: var(--color-hoverbtn);
border: none;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
cursor: pointer;
color: var(--color-logo);
}

.tools_input {
background-color: rgba(0, 0, 0, 0);
border: none;
outline: none;
}

.tools_list {
display: flex;
gap: 31px;
}

.tools_wrapper-text {
    display: flex;
    gap: 13px;
    width: 70%;
    align-items: center;
}

.tools_list {
    margin: 0;
    padding: 0;
}

.popular {
    padding-top: 200px;
    padding-bottom: 200px;
}

.popular_title {
    font-size: 48px;
font-style: normal;
text-align: center;
font-weight: 500;
line-height: 130%;
margin: 0;
margin-bottom: 25px;
color: var(--color-toolstitlr);
}

.popular_subtitle {
    font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px;
width: 427px;
text-align: center;
margin: 0 auto;
color: var(--color-headlist);
margin-bottom: 110px;
}

.tools_input {
    width: 100%;
}


.popular_wrapper {
    width: 392px;
height: 294px;
border-radius: 15px;
color: var(--color-bg);
padding: 34px 33px 38px 33px;
}


.popular_desc-title {
    font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
color: var(--color-btntext);
}

.popular_desc-subtitle {
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: var(--color-popular);
margin: 0;
}

.popular_text {
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
color: var(--color-headlist);
width: 326px;
margin-bottom: 30px;
}

.popular_icon-button {
    font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: var(--color-headlist);
width: 106px;
height: 42px;
border-radius: 8px;
background-color:rgba(0, 0, 0, 0);
border: none;
display: block;
text-align: center;
padding: 9px 35px;
}

.popular_desc {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
}

.popular_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.popular_wrap {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.popular_icon-img {
    display: flex;
    gap: 25px;
    position: relative;
    left: 6px;
}

.popular_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    row-gap: 100px;
}

.popular_wrapper:hover {
background: rgba(40, 48, 54, 0.60);
backdrop-filter: blur(25px);
}

.popular_icon-button:hover {
    background-color: var(--color-hoverbtn);
    color: var(--color-logo);
}

.popular_btn {
height: 64px;
border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background-color: var(--color-bg);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
cursor: pointer;
color: var(--color-hoverbtn);
padding: 17px 38px;
margin-top: 100px;
}

.popular_btn-like:hover path {
    fill: #FD3B41;
    cursor: pointer;
    fill-opacity: 1;
}

.popular_btn-like {
    background: rgba(0, 0, 0, 0);
    border: none;
}

.popular_btns {
    display: flex;
    justify-content: center;
}

.brand {
margin-bottom: 200px;

}

.brand .container::before {
    content: "";
    display: block;
    background: rgba(255, 72, 66, 0.20);
filter: blur(60px);
width: 159px;
height: 159px;
position: absolute;
top: -50px;
left: -40px;
}

.brand_title {
    font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: var(--brand-title);
text-align: center;
margin: 0;
}
.brand .container {
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    background: rgba(44, 53, 61, 0.20);
    backdrop-filter: blur(25px);
    height: 253px;
    padding: 55px 0;
    position: relative;
    overflow: hidden;


}
.brand_list {
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
    
align-items: center;
}

.newcomer {
    padding-top: 20px;
}

.newcomer_title {
    font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%; 
margin: 0;
color: var(--color-toolstitlr);
}

.newcomer_p {
    font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px;
width: 427px;
margin-top: 30px;
margin-bottom: 60px;
color: var(--color-headlist);
}

.newcomer_btn {
    font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: var(--color-logo);
border-radius: 8px;
width: 198px;
height: 58px;
cursor: pointer;
background-color: var(--color-hoverbtn);
border: none;
}

.newcomer_btn-like {
    background: rgba(0, 0, 0, 0);
    border: none;
}

.newcomer_btn-like:hover path {
    fill: #FD3B41;
    cursor: pointer;
    fill-opacity: 1;
}

.newcomer_icon-button {
    text-align: center;
padding: 9px 35px;
}

.newcomer_icon-button:hover {
    background-color: var(--color-hoverbtn);
    color: var(--color-logo);
}

.newcomer_desc-title {
    font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
color: var(--color-btntext);
}

.newcomer_desc-subtitle {
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
color: var(--color-popular);
}

.newcomer_text {
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 30px;
margin-bottom: 30px;
width: 245px;
color: var(--color-headlist);
}

.newcomer_icon-button {
    width: 106px;
height: 42px;
border-radius: 8px;
background-color: var(--color-bg);
border: none;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
cursor: pointer;
color: var(--color-headlist);
}

.newcomer_wrapper {
    width: 288px;
height: 284px;
border-radius: 15px;
padding: 28px 21px 28px 22px;
background: var(--color-bg)
}

.newcomer_desc {
    display: flex;
    flex-direction: column;
}

.newcomer_wrap {
    display: flex;
    align-items: center;
    gap: 34px;
}

.newcomer_icon-img {
    display: flex;
    gap: 25px;
}

.newcomer_icon {
    display: flex;
    align-items: center;
    gap: 49px;
}

/* .newcomer_item:hover {
    background: rgba(40, 48, 54, 0.60);
    backdrop-filter: blur(25px);
} */

.newcomer_icon-img img:nth-child(1):hover {
     background-color: #FD3B41;
}

.newcomer_list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 50px;
    max-width: 640px;
}

.newcomer_wrapper:hover {
    background: rgba(40, 48, 54, 0.60);
    backdrop-filter: blur(25px);
    }

.newcomer_box {
    max-width: 427px;

}

.newcomer .container {
    display: flex;
    justify-content: space-between;
}

.ronald_wrapper-text {
    width: 393px;
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
letter-spacing: 0.21px;
color: var(--color-btntext);
}


.ronald_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ronald_slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    width: 100%;
}

.ronald_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ronald_wrapper img {
    position: relative;
    bottom: 110px;
    left: 49px;
}

.ronald_content {
    display: flex;
    gap: 50px;
    align-items: center;
}

.ronald_arrow-left:hover path {
    stroke: var(--color-hoverbtn);
    cursor: pointer;
    stroke-opacity: 1;
}

.ronald_arrow-right {
    transform: rotate(180deg);
    cursor: pointer;
}

.ronald_arrow-right:hover path {
stroke: var(--color-hoverbtn);
cursor: pointer;
stroke-opacity: 1;
}

.ronald {
    margin-top: 200px;
}

.ronald_wrap-img {
    cursor: pointer;
}

.ronald_wrap-img:hover    {
fill: var(--color-hoverbtn);
}

.ronald_item {
    width: 44px;
height: 6px;
border-radius: 4px;
background: #283036;
cursor: pointer;
}

.ronald_list  {
    display: flex;
    gap: 18px;
    margin-top: 101px;
}

.ronald_item:hover {
background: #FF6E30;
}

.become {
    margin-top: 250px;
}


.become_title {
    font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%;
text-align: center;
margin-bottom: 25px;
margin-top: 0;
color: var(--color-toolstitlr);
}

.become_desc {
    font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px;
width: 427px;
text-align: center;
margin-top: 0;
margin-bottom: 100px;
color: var(--color-headlist);
}

.become input {
   width: 100%;
   background: rgba(0, 0, 0, 0);
   border: none;
   outline: none;
}

.become_form {
    width: 549px;
    height: 64px;
    border-radius: 15px;
    padding: 8px 12px 8px 24px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: var(--color-tinputback);
}

.become_btn {
    width: 130.435px;
height: 48px;
border-radius: 8px;
background-color: var(--color-hoverbtn);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
cursor: pointer;
color: var(--color-logo);
}

.become_wrapp {
    display: flex;
}

.become_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    height: 0.5px;
    background: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: none;
    margin-top: 240px;
    margin-bottom: 70px;
}

.footer_title {
    font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0;
color: var(--color-toolstitlr);
}

.footer_subtitle {
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 25px;
color: var(--color-toolstitlr);
}

.footer_desc {
    width: 260px;
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 25px;
margin-top: 21px;
color: var(--color-headlist);
}

.footer_antools-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer_img {
    margin: 0;
}

footer {
    padding-bottom: 98px;
}

.footer_title-first {
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 20px;
color: var(--color-toolstitlr);
}


footer a {
    color: var(--color-headlist);
}

/* .footer_item-first:nth-child(2) {
margin-bottom: 10px;
}

.footer_item-first:nth-child(3) {
    margin-bottom: 10px;
    } */



.footer_title-second {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
    color: var(--color-toolstitlr);
}

.footer_item-second {
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: var(--color-headlist);
}

/* .footer_item-second:nth-child(2) {
    margin-bottom: 10px;
} */

.footer_title-third {
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 20px;
color: var(--color-toolstitlr);
}

.footer_list-third {
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: var(--color-headlist);
}

/* .footer_list-third:nth-child(2) {
    margin-bottom: 10px;
}

.footer_list-third:nth-child(3) {
    margin-bottom: 10px;
} */

.footer_list {
    display: flex;
    flex-direction: row;
    gap: 115px;
    margin-right: 10%;
}

.footer_antools {
    display: flex;
    justify-content: space-between;
}

.footer_item-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
